a:hover, a:focus {
	color: #428bca;
}
#scrollTop {
    bottom: 20px;
    right: 20px;
    height: 38px;
    width: 38px;
    background: url("../img/top.png") no-repeat;
}
#footer {
	text-align: center;
	background: #eee;
	padding: 20px;
	margin-top: 20px;
	border-top: 1px solid #ccc;
}